@model GoaGaraget.Models.Receipt

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Make sure all is correct</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        Vehicle to checkout:
        @Model.ParkedVehicle.RegNumber

        Checked in at 
        @Model.ParkedVehicle.CheckinDate
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Checkout" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
