@model GoaGaraget.Models.ParkedVehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParkedVehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckinDate)
        </dd>
        <dt>
            Parked at
        </dt>
        <dd>
            @{
                if (Model.ParkingSpaces.Count > 0)
                {
                    <div class="btn-group">
                        @foreach (var ps in Model.ParkingSpaces)
                        {
                        <button class="btn btn-success btn-xs">@ps.Id</button>
                        }
                    </div>
                }
                else
                {
                    <div>Not in Garage</div>
                }

            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
