@model IEnumerable<GoaGaraget.Models.ParkedVehicleListModel>

@{
    ViewBag.Title = "SimpleIndex";
}

<h2>SimpleIndex</h2>

<table class="table">
    <tr>
        <th>
            Owner
        </th>
        <th>
            Vehicle Type
        </th>
        <th>
            Registration
        </th>
        <th>
            Checkin Time
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Member.FirstName
            @item.Member.SurName
    </td>
    <td>@item.VehicleType.Name</td>
    <td>@item.RegNumber</td>
    <td>@item.CheckinDate</td>
    </tr>
}

</table>
