@model IEnumerable<GoaGaraget.Models.ParkedVehicleListModel>

@{
    ViewBag.Title = "SimpleIndex";
}
@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
}
@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#parkedVehicleTable').DataTable();
        });
    </script>
}
<h2>Registered Vehicles</h2>
<p>
    @Html.ActionLink("Register vehicle", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table id="parkedVehicleTable" class="table table-striped table-bordered" cellspacing="0" ">
    <thead>
        <tr>
            <th>
                Owner
            </th>
            <th>
                Vehicle Type
            </th>
            <th>
                Registration
            </th>
            <th>
                Checkin Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Member.FirstName
                    @item.Member.SurName
                </td>
                <td>@item.VehicleType.Name</td>
                <td>@item.RegNumber</td>
                <td>@item.CheckinDate</td>
            </tr>
        }
    </tbody>
</table>
