@model GoaGaraget.Models.StatisticModel

<div>
    <h4>Garage Statistics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GarageSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GarageSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWheelCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWheelCount)
        </dd>

    </dl>
    @Html.ActionLink(" More..", "Statistics", "ParkedVehicles", new { }, new { @class = "btn btn-info btn-sm glyphicon glyphicon-globe" })
</div>
